@font-face {
  font-family: "Cal Sans Flex";
  font-weight: 400 700;
  font-display: swap;
  src: url(projects/dependencies/CalSansFlexVF.ttf) format('truetype-variations');
}

* {
  font-family: "Cal Sans Flex", "Futura PT", Futura, "Tw Cen MT", -apple-system, BlinkMacSystemFont, Inter, Roboto, ui-sans-serif, system-ui, sans-serif;
  justify-content: center;
  text-align: center;
  font-variation-settings: "GEOM" 100, "YTAS" 800, "SHRP" 100;
  font-feature-settings: "ss11";
  font-optical-sizing: auto !important;
}

body {
  margin:0;
}

.top, .top * {
  background-color: #28a;
  color: white !important;
  padding: 10px;
  display: flex;
  align-items: flex-start;
}

.top h1 {
  margin: 0;
  margin-left: 10px;
  line-height: 1;
}

a, a * {
  text-decoration:none;
  color:blue;
}

i, i *, em, em * {
  font-variation-settings: "GEOM" 100, "YTAS" 800, "SHRP" 100, "ital" 1 !important;
  font-style: normal;
}

b, b *, strong, strong *, h1, h1 *, h2, h2 *, h3, h3 *, h4, h4 *, h5, h5 *, h6, h6 * {
  font-variation-settings: "GEOM" 100, "YTAS" 800, "SHRP" 0 !important;
}

b i, i b, b i *, i b *, b * i, i * b, strong i, i strong, strong i *, i strong *, strong * i, i * strong, b em, em b, b em *, em b *, b * em, em * b, strong em, em strong, strong em *, em strong *, strong * em, em * strong {
  font-variation-settings: "GEOM" 100, "YTAS" 800, "SHRP" 0, "ital" 1 !important;
  font-style: normal;
}
