@font-face {
  font-family: PlusJakartaSans;
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url(projects/dependencies/PlusJakartaSans.woff2) format('woff2');
}

@font-face {
  font-family: PlusJakartaSans;
  font-style: italic;
  font-weight: 200 800;
  font-display: swap;
  src: url(projects/dependencies/PlusJakartaSansItalic.woff2) format('woff2');
}

@font-feature-values PlusJakartaSans {
  @styleset {
    ss01: 1; ss02: 2; ss03: 3;
    lancip: 1;
    lurus: 2;
    lingkar: 3;
  }
}

* {
  font-family: PlusJakartaSans, ui-sans-serif, system-ui, sans-serif !important;
  justify-content: center;
  text-align: center;
}

body {
  margin:0;
}

.top, .top * {
  background-color: #28a;
  color: white !important;
  padding: 10px;
  display: flex;
  align-items: flex-start;
}

.top h1 {
  margin: 0;
  margin-left: 10px;
  line-height: 1;
}

a,a * {
  text-decoration:none;
  color:blue;
}

h1,h2,h3{
  font-variant-alternates: styleset(lancip);
}
