@font-face {
  font-family: "Cal Sans Flex";
  font-weight: 400 700;
  font-display: swap;
  src: url(projects/dependencies/CalSansFlex.ttf) format('truetype');
}

@font-feature-values PlusJakartaSans {
  @styleset {
    geometric-a: 1;
    humanist-a: 2;
    geometric-lc-g: 3;
    gothic-g: 4;
    geometric-uc-g: 5;
    humanist-g: 6;
    constructed-jy: 7;
    constructed-ft: 8;
    angular-m: 9;
    futura-alt: 10;
    futura-alt-lig: 11;
    humanist-69: 12;
    geometric-69: 13;
    a11y: 14;
    constructed-l: 16;
  }
  @character-variant {
    geometric-a: 1;
    geometric-uc-g: 2;
    geometric-c: 3;
    geometric-j: 4;
    geometric-t: 5;
    geometric-u: 6;
    geometric-0: 7;
    geometric-1: 8;
  }
}

* {
  font-family: "Cal Sans Flex", "Futura PT", Futura, "Tw Cen MT", -apple-system, BlinkMacSystemFont, Inter, Roboto, ui-sans-serif, system-ui, sans-serif;
  justify-content: center;
  text-align: center;
  font-variation-settings: "GEOM" 100, "YTAS" 800, "SHRP" 100;
  font-variant-alternates: styleset(futura-alt-lig);
}

body {
  margin:0;
}

.top, .top * {
  background-color: #28a;
  color: white !important;
  padding: 10px;
  display: flex;
  align-items: flex-start;
}

.top h1 {
  margin: 0;
  margin-left: 10px;
  line-height: 1;
}

a, a * {
  text-decoration:none;
  color:blue;
}

i, i *, em, em * {
  font-variation-settings: "GEOM" 100, "YTAS" 800, "SHRP" 100, "ital" 1 !important;
  font-style: normal;
}

b, b *, strong, strong *, h1, h1 *, h2, h2 *, h3, h3 *, h4, h4 *, h5, h5 *, h6, h6 * {
  font-variation-settings: "GEOM" 100, "YTAS" 800, "SHRP" 0 !important;
}

b i, i b, b i *, i b *, b * i, i * b, strong i, i strong, strong i *, i strong *, strong * i, i * strong, b em, em b, b em *, em b *, b * em, em * b, strong em, em strong, strong em *, em strong *, strong * em, em * strong {
  font-variation-settings: "GEOM" 100, "YTAS" 800, "SHRP" 0, "ital" 1 !important;
  font-style: normal;
}
